.serial-title {
    color: black;
}

.img-film {
    display: inline-block;
    overflow: hidden;
    padding: 0 160px 0 0;
    border-radius: 8px;
    margin: 0 10px 40px;
}
.img-film img {
    transition: 1s;
    display: block;
}
.img-film img:hover {
    transform: scale(1.2);
}

.info-serial-block {
    background-color: white;
    border-radius: 8px;
    padding: 15px 30px;
    box-shadow: 0 1px 2px rgb(164 164 164 / 28%);
    font-size: 14px;
    color: #656565;
}

.points {
    color: #a9acc5;
    font-size: 13px;
}